@import '../../mixins.scss';

.cards-container {
  @include flex-row(center, center);
  max-width: 1200px;
  flex-wrap: wrap;
}

.card {
  margin: 10px 10px;
  width: 280px;
  height: 300px;
  @include flex-column(space-around, center);
  background: linear-gradient(#b8f0d4, white);
  border-radius: 10px;

  img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
  }

  span {
    width: 100%;
    font-size: 24px;
    text-align: center;
    color: #3a7c5b;
  }
}