@import '../../mixins.scss';
.request-params {
  @include flex-row(space-between, center);

  p {
    margin: 0;
    margin-right: 10px;
    font-size: 22px;
    text-transform: capitalize;
  }
}

.request-params__sort {
  @include flex-row(center, center);
  margin: 0 10px;
  
  form {
    @include flex-column(center, center);
    width: 220px;
    text-transform: capitalize;
  }

  div {
    @include flex-row(space-around, center);
    width: 100%;
  }
}
